<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create Posts')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>This is the Creation page</h1>
<form action="/posts/create" method="post" th:object="${post}">
    <label>
        Title:
        <input type="text" th:field="*{title}"/>
    </label>
    <br />
    <label>
        Description:
        <input type="text" th:field="*{body}"/>
    </label>
    <br />
    <input type="submit" />
</form>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>