<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Single Post Page')">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="box">
    <form th:action="@{/posts/edit/{id}(id=${post.id})}" th:method="get"><input type="submit" th:value="Edit"/></form>
    <h2><span th:text="${post.title}"></span></h2>
    <p><span th:text="${post.body}"></span></p>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>