<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head(navbar)"></head>
<body>
<nav th:fragment="navbar">
    <table>
        <tbody>
        <tr>
            <td>
                <img th:src="@{/images/blogging.svg}" alt="logo" width="30"/>
            </td>
            <td>
                <a th:href="@{/}">Home</a>
            </td>
            <td>
                <a th:href="@{/posts}">Posts</a>
            </td>
            <td>
                <a th:href="@{/posts/create}">Create Posts</a>
            </td>
            <!--<td>-->
                <!--<button onclick="swapStyleSheet('')"></button>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</nav>
</body>
</html>