<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head(navbar)"></head>
<body>
<th:block  th:fragment="navbar">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:fragment="fragments/scripts :: scripts"></script>
    <header>
        <div class="navbar-fixed">
            <nav class="black lighten-2">
                <div class="nav-wrapper container">
                    <a th:href="@{/}">AJB</a>
                    <a th:href="@{#}" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">=</i></a>
                    <ul class="right hide-on-med-and-down">
                        <!--<li><a th:href="@{/}">Home</a></li>-->
                        <!--<li><a th:href="@{/posts}">Posts</a></li>-->
                        <!--<li><a th:href="@{/posts/create}">Create Posts</a></li>-->
                        <li><a href="#AboutMe">About Me</a></li>
                        <li><a href="#Resume">Resume</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#Blog">Blog</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="slide-out" class="sidenav waves-effect">
            <li><div class="user-view">
                <div class="background">
                    <img th:src="@{https://lorempixel.com/city/400/200}"/>
                </div>
                <a th:href="@{#user}"><img class="circle" th:src="@{https://lorempixel.com/sports/10/10}"/></a>
                <a th:href="@{#name}"><span class="white-text name">Allen Justin Blanco</span></a>
                <a th:href="@{#email}"><span class="white-text email">blanco.allenjustin@gmail.com</span></a>
            </div></li>
            <li><a href="#AboutMe">About Me</a></li>
            <li><a href="#Resume">Resume</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </header>
</th:block>
</body>
</html>