.box {
    width: 80%;
    margin: 5%;
    background-color: #72d7fc;
    text-align: center;
    padding: 5%;
    font-family: Raleway, sans-serif;
}
.box:hover {

 }
a:-webkit-any-link{
    color: black;
    text-decoration: none;
    padding: 5px;
}
a:hover{
    color: #0B5BEF;
}

input {
    width: 100px;
    border: 2px solid #0B5BEF;
    border-radius: 4px;
    background-color: #083F59;
    height: 30px;
}
input[type=submit]{
    cursor: pointer;
    color: white;
    margin-top: 1%;
    border: 2px solid #0B5BEF;
    border-radius: 4px;
    background-color: #083F59;
    height: 30px;
    font-family: Raleway, sans-serif;
}
input[type=submit]:hover {
    color: #0B5BEF;
}

input[type=text]{
    width: 250px;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #083F59;
    border: 2px solid #0B5BEF;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0B5BEF;
    border-radius: 4px;
    resize: none;
    background-color: #083F59;
}

nav {
    width: 100%;
    height: 6px;
    padding: 15px;
    background-color: #72d7fc;
    font-family: Raleway, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}