<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Welcome Home!')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="header center text-lighten-2">HI! I'M <span class="teal-text">JUSTIN BLANCO</span></h1>
            <div class="row center">
                <h6 class="header col s12 light">Full Stack Web Developer</h6>
            </div>
            <div class="row center">
                <a href="#contact" class="btn-small waves-effect waves-light teal lighten-1">HIRE ME</a>
            </div>
            <br/><br/>

        </div>
    </div>
    <div class="parallax mainImage"><img src="../../images/cruise.jpeg" th:attr="src=@{/images/cruise.jpeg}, title=#{image}, alt=#{image}" width="100%"/></div>
</div>
<div class="container" id="AboutMe">
    <div class="section">
<!--about me-->
        <div class="row">
            <div class="col s12 m4">
                <h6 class="teal-text">My Story</h6>
                <p class="light">Hello, I'm a Full Stack Web Developer from San Antonio, Texas. <br/> I love to learn and create new things with code.
                    <br/>Thanks for stopping by and feel free to check out some of my <a href="#portfolio"><span class="teal-text">latest projects.</span></a></p>
            </div>

            <div class="col s12 m4">
                <img width="100%" src="../../images/portrait.jpg" th:attr="src=@{/images/portrait.jpg}, title=#{image}, alt=#{image}"/>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h6 class="teal-text">Personal Information</h6>
                    <p class="light" >Name: Allen Justin Blanco</p>
                    <hr/>
                    <p class="light">Age: 20 Years</p>
                    <hr/>
                    <p class="light">Phone: (210) 518-8350</p>
                    <hr/>
                    <p class="light">Email: blanco.allenjustin@gmail.com
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="../../images/bg5.jpg" th:attr="src=@{/images/bg5.jpg}, title=#{image}, alt=#{image}"/></div>
</div>

<div class="container ">
    <section class="center-align">

        <div class="row section-head">
            <div class="col full">

                <h3 class="teal-text"  id="portfolio">Portfolio</h3>
                <p class="desc">Check out my latest projects.</p>
            </div>
        </div>

        <div class="row">

            <!-- Portfolio Wrapper -->
            <div id="portfolio-wrapper">

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-01"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Local Legends</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-02"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Movie Application</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-03"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Coffee Project</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-04"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Codeup Design</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-05"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Weather Application</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 portfolio-item">
                    <div class="item-wrap">
                        <a href="#" data-reveal-id="modal-06"><img th:src="@{/images/cardimg.jpg}" alt="" width="100%"/></a>
                        <div class="portfolio-item-meta">
                            <h5><a href="#">Contacts Manager</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>